.account-pane {
    height: 100%;
    width: 500px;
    position: fixed;
    background-color: #f1f1f1;
    border-right: 1px solid #c3c3c3;
    z-index: 3;
    color: #000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__close-icon {
        cursor: pointer;
        padding:20px;
    }

    &__account-icon {
        width: 4em !important;
        height: 4em !important;
        color: #051844;
    }

    &__content {
        padding:20px;
    }

    &__username {
        font-size: 1.7em;
        font-weight: 700;
        margin: 0;
    }

    &--active {
        transform: translateX(0);
    }

    &__header {
        text-align: right;
    }

    &__footer {
        margin-top: auto;
        border-top:1px solid rgb(211, 211, 211);
        padding:20px 20px 15px 20px;
    }
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &--active {
        opacity: 1;
        visibility: visible;
    }
}