/* Styles */
body,html {
  margin:0;
  padding:0;
}
#root {
  display: flex;
}
.notes__bigform {
  padding:5px;
  height:100%
}
.notes__add-wrapper {
  background-color: #efefef;
  position: absolute;/*important*/
  top: 50%;/*position Y halfway in*/
  left: 50%;/*position X halfway in*/
  transform: translate(-50%,-50%);/*move it halfway back(x,y)*/
  width: 500px;/*any width*/
  height: auto;/*any height*/
}
.notes__text-inputs {
  width:100%;
  background-color:#fff;
}
.notes__text-inputs input[name="title"] {
  font-weight: bold;
}
input:focus, textarea:focus {
  outline:0
}
.notes__text-inputs input, .notes__text-inputs textarea {
  width:100%;
  box-sizing:border-box;
  border:none;
  padding:8px;
  font-size:14px;
}
.notes__list {
  list-style-type:none;
  padding: 5px;
  line-height: .4em;
  margin:0;
  flex:15% 0 1;
}
.notes__item{
  padding:10px 0px;
}
.notes__item-title {
  font-weight: bold;
}
.sidebar {
  height:100vh;
  background-color:rgb(214, 214, 214);
  flex: 0 0 50px;
  text-align: center;
  padding:24px 0;
}

.icon-trash {
  color:#db1818;
}

.single-note {
  
}
.single-note__wrapper {
  padding:25px;
}
.single-note__inner {
  padding:25px 0px;
}
.single-note__wrapper input, .single-note__wrapper textarea {
  border:none;
  width:100%;
}
.single-note__wrapper textarea {
  font-size:14px;
}
input.single-note__title {
 font-weight:bold;
 font-size:24px;
}
.single-note__toolbar {
}
.single-note__toolbar-date {
  font-weight: 100;
  color:#b7b7b7;
  font-size: 14px;
}
.single-note__icons {
  list-style-type: none;
  padding:0px 8px;
}
.single-note__icons li {
  display: inline;
  padding: 0 5px;
}
.single-note__icons li:hover {
  cursor: pointer;
}
.single-note__icons li:last-child {
  border-left:1px solid rgb(180, 180, 180);
  padding-left:8px;
  margin-left:5px;
}
.single-note__toolbar-icons-wrapper {
  position: fixed;
  right:25px;
  top:15px;
  box-shadow:
  0 6px 10px rgba(0, 0, 0, 0.035),
  0 48px 80px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background: #eeeeee;
  background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%);
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%);
  background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );

}