/* https://jsfiddle.net/133rr51u/ */

/* Styles */
body,html {
  margin:0;
  padding:0;
}
#root {
  display: flex;
}
.notes__bigform {
  padding:5px;
  height:100%
}
.notes__add-wrapper {
  background-color: #efefef;
  position: absolute;/*important*/
  top: 50%;/*position Y halfway in*/
  left: 50%;/*position X halfway in*/
  transform: translate(-50%,-50%);/*move it halfway back(x,y)*/
  width: 500px;/*any width*/
  height: auto;/*any height*/
}
.notes__text-inputs {
  width:100%;
  background-color:#fff;
}
.notes__text-inputs input[name="title"] {
  font-weight: bold;
}
input:focus, textarea:focus {
  outline:0
}
.notes__text-inputs input, .notes__text-inputs textarea {
  width:100%;
  box-sizing:border-box;
  border:none;
  padding:8px;
  font-size:14px;
}
.notes__list {
  list-style-type:none;
  padding: 5px;
  line-height: .4em;
  margin:0;
  flex:15% 0 1;
}
.notes__item{
  padding:10px 0px;
}
.notes__item-title {
  font-weight: bold;
}
.sidebar {
  height:100vh;
  background-color:rgb(214, 214, 214);
  flex: 0 0 50px;
  text-align: center;
  padding:24px 0;
}