/* Styles */
body,html {
  margin:0;
  padding:0;
}
#root {
  display: flex;
}
.notes__bigform {
  padding:5px;
  height:100%
}
.notes__add-wrapper {
  background-color: #efefef;
  position: absolute;/*important*/
  top: 50%;/*position Y halfway in*/
  left: 50%;/*position X halfway in*/
  transform: translate(-50%,-50%);/*move it halfway back(x,y)*/
  width: 500px;/*any width*/
  height: auto;/*any height*/
}
.notes__text-inputs {
  width:100%;
  background-color:#fff;
}
.notes__text-inputs input[name="title"] {
  font-weight: bold;
}
input:focus, textarea:focus {
  outline:0
}
.DraftEditor-root {
  height: 500px !important;
}
.DraftEditor-editorContainer {
  height:100% !important;
}
.notes__text-inputs input, .notes__text-inputs textarea {
  width:100%;
  box-sizing:border-box;
  border:none;
  padding:8px;
  font-size:14px;
}
.notes__list {
  list-style-type:none;
  padding: 0px;
  line-height: .4em;
  margin:0;
  flex:15% 0 1;
  background-color:#fbfbfb;
  border-right: 1px solid #efefef;
  max-height: 100vh;
  position: relative;
  min-width: 200px;
  max-width:300px;
}
.notes__item:hover {
  cursor: pointer;
}
.notes__item{
  padding:10px 16px;
  border-bottom:1px solid #efefef;
  position: relative;
}
.notes__item-title {
  font-weight: bold;
}
.sidebar {
  height:100vh;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #e1e8ff, #e2e2e2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #e1e8ff, #e2e2e2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex: 0 0 50px;
  text-align: center;
}
.sidebar-container {
  padding:24px 0;
}
.notes__single-wrapper {
  flex: 1;
}
.icon-trash {
  color:#db1818;
}
.single-note__wrapper {
  padding:25px 60px 0 60px;
}
.single-note__inner {
  padding:25px 0px;
}
.single-note__wrapper input, .single-note__wrapper textarea {
  border:none;
  width:100%;
}
.single-note__wrapper textarea {
  font-size:14px;
}
input.single-note__title {
 font-weight:bold;
 font-size:24px;
}
.single-note__toolbar {
  display:flex;
}
.single-note__toolbar-date {
  font-weight: 100;
  color:#b7b7b7;
  font-size: 14px;
}
.single-note__icons {
  list-style-type: none;
  margin:0px;
}
.single-note__icons li {
  display: inline;
  padding: 0 5px;
}
.single-note__icons li:hover {
  cursor: pointer;
}
.single-note__icons li:last-child {
  border-left:1px solid rgb(180, 180, 180);
  padding-left:8px;
  margin-left:5px;
}
.single-note__toolbar-icons-wrapper {
  margin-left:auto
}
.active {
  background-color:#f1f1f1;
}
.active:after {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  border-right: 20px solid white;
  content: '';
  right: 0;
  top: 30%;
  margin-right:-1px
}